
$colortext:white;
.card{
    background: #2e019ff2;
    text-align: center;
    margin: 0 auto;


    width: 600px;
    padding: 20px;
    img{
    width: 500px;
    height:400px;
    
    

}
}
p{
    color: $colortext;
    padding:20px;
    border: 3px solid black
     }

   .btn1{
   padding:15px;
   font-size:15px ;
     }
     .btn2{
   padding:15px;
   font-size:15px ;
     }

.texto{
    flex: 1;
    padding-right: 20px;
}

.botones{
    display: flex;
    gap: 10px;
}

